MONGO_URI=tu_link_de_mongodb_atlas
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_app_password
JWT_SECRET=tu_secret_key
MP_PUBLIC_KEY=tu_public_key_mercadopago
MP_ACCESS_TOKEN=tu_access_token_mercadopago
FRONTEND_URL=http://localhost:5173
